<div class="card-header">
  投稿画面
</div>
<div class="card-body">
  <%= form_with model: @post, class: "upload-images p-0 border-0" do |f| %>
    <%# <div class="form-group row mt-2">
     %>
      <div class="col-auto pr-0">  
        <%= image_tag avatar_url(current_user), class: "post-profile-icon"%>
      </div>
      
        <% end %>
</div>
