  <div class="col-md-10 col-md-offset-1 mx-auto postShow-wrap">
    <div class="row post-wrap">
      <div class="clo-md-8">
        <div class="card-left">
          <%= image_tag @post.photos.first.image.url(:medium), class: "card-img-top"%>
        </div>
      </div>
    </div>
  </div>
